.navbar {
  text-align: right;
  text-decoration: none;
  padding: 30px;
  background-color: black;
  font-style: oblique;
}


h1{
  text-align: center;
  font-family:'Bradley Hand'
}

/* Homepage ------------------------------------------------------------*/

img{
  height: 250px;
  width: 250px;
  margin-left: 20px;
}


#about-me{
  font-weight: bold;
  width: 75%;
  padding-left: 290px;
  
} 

/* Contact pg----------------------------------------------------------- */

.contact-div{
  padding-left: 30px;
}



input{
  width: 250px;
}


 #message-input{
   height: 200px;
   width: 250px;
 }

#submit-btn{
  width: 75px;
}